.App {
  text-align: center;
  }

#home {
  border: #166045 solid;
  background-image:linear-gradient(to right, rgb(143, 143, 220), white);
  border-radius: 5px;
}

#Header {
color:#166045

}


#reviewListCat {
  display: block;
  width:100%;
  border: #166045 solid;
  background-image:linear-gradient(to right, rgb(143, 143, 220), white);
  border-radius: 5px;
  list-style-type: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}



@media only screen and (min-width: 600px) {
  #reviewList ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 30%;
  padding: 0 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-image:linear-gradient(to right, rgb(143, 143, 220), white);

  }
}

#reviewListCat img {
  height: 50px;
  width: 50px;
  border-radius: 5px 5px 5px 5px ;
}



.card{
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 80%;
  margin: 5 5px
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.navbar {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.navbar li {
  list-style-type: none;
}

.navbar a{
  float: left;
  color: #6b1d1d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover{
  background-color: #ddd;
  color: black;
}

.navbar.active {
  background-color: #04AA6D;
  color: white;
}

#clickimage {
  font-size: 70%;
  flex-direction:inherit;
  border: #444 solid;
  border-radius: 5px;
  border-left: 1em;
}

#categoryList {
  border: #166045 solid;
  background-image:linear-gradient(to right, rgb(143, 143, 220), white);
  border-radius: 5px;
  display:block;
  text-align: center;
  list-style-type: none;
  padding:10px;
}

#categoryList #categoryButtons{
  display:flex;
  flex-direction: row;
  text-align: center;
  list-style-type: none;
  padding:10px;
  border:rgb(94, 18, 18) solid 2px;
}

#singleReview img{
  height: 100px;
  width: 100px;
  border-radius: 5px 5px 5px 5px ;
}

#singleReview {
  border: #166045 solid;
  background-image:linear-gradient(to right, rgb(143, 143, 220), white);
  border-radius: 5px;
}

#commentsView{
  background-color: rgb(95, 91, 151);
  color:white;
  font-size: large;
  border:#166045 solid 5px
}

#commentCard {
  border: #166045 solid;
  background-image:linear-gradient(to right, rgb(143, 143, 220), white);
  border-radius: 5px;
  box-shadow: #444 5px;
  color: black

}

.voteButton1 {
  background-color: #4CAF50;
  border-radius: 8px;
}

.voteButton2 {
  background-color: #008CBA;
  border-radius: 8px;

}