@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
body {
  background-color: #eaeff1
}

.App {
  text-align: center;
  background-color: #eaeff1;
  font-family: Lora;
  }

#home {
  border: #e0eae6 solid;
  border-radius: 3px;
}

#Header {
color:#394fc9;
text-shadow: black 5px;
background-image: url("https://images.pexels.com/photos/1314435/pexels-photo-1314435.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

h1 {
  margin-top: 0;
  margin-bottom:0;
}

.card img {
  height:214px;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  object-fit: cover;
}

.card{
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color:rgb(105, 138, 127);
}

.navbar {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.navbar li {
  list-style-type: none;
}

.navbar a{
  float: left;
  color: #6b1d1d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover{
  background-color: #ddd;
  color: black;
}

.navbar.active {
  background-color: #04AA6D;
  color: white;
}

.category-list a{
  float: left;
  color: #6b1d1d;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 17px;

}

.category-list a:hover {
  background-color: #ddd;
  color: black;
}

.category-list.active {
  background-color: #04AA6D;
  color: white;
}

#container{
  max-width: 300%;
  margin: 0 auto;
  margin-top: 20vh;
}



.whole-review img{
  height: 100px;
  width: 100px;
  border-radius: 5px 5px 5px 5px ;
}

.whole-review {
  border: #166045 solid;
  background-image: img_url;
  border-radius: 5px;
}


.voteButton1 {
  background-color:rgb(59, 130, 246);;
  border-radius: 8px;
  color: white;

}

.voteButton2 {
  background-color: rgb(59, 130, 246);;
  border-radius: 8px;
  color: white;

}

.comments {
  margin-top: 20px;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
}
.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}


.comment-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}